*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-gray: #D9D9D9;

  --font-family: 'Open Sans', sans-serif;
  --h1: 500 6vw/135% var(--font-family);
  --label-login: 500 24px/135% var(--font-family);
  --input-login: 400 18px/135% var(--font-family);
  --text-btn-login: 400 35px/135% var(--font-family);
}

html, body{
  overflow: hidden;
}

h1, h2, h3 {
  font: inherit;
}