.col{
  overflow: hidden;
}

.home-login{
  background-color: black;
}

.p-6{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-gray);
  width: 45vw;
  height: 70vh;
  border-radius: 30px;
  overflow: hidden;
}

u{
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.form-login{
  margin: auto;
  width: 30vw;
}

.input-login{
  width: 30vw;
  height: 50px;
  background-color: var(--background-gray);
  border: none;
  outline: none;
  border-bottom: 3px black solid;
  padding-left: 10px;
  
}

.label-login{
  display: block;
  text-align: left;
}

.btn-login{
  background-color: #797979;
  border: none;
  border-radius: 10px;
  margin-top: 5vh;
  width: 30vw;
  height: 70px;
}